invoke.json
splat/prince
splat/fonts/*
!splat/fonts/fonts.conf
# Downloaded prince binaries and their extracted directories
prince*
# Resulting zip files
splat.zip
requests_layer.zip
# Test pdf from sample command at end of installation
test.pdf
# Prince licence file
license.dat
# Layer working directory
python/