name: Python
on:
  push:
    branches:
      - release/*
      - develop
      - master
      - main
  pull_request: {}

permissions:
  id-token: write # Required for federated aws oidc
  contents: write
  actions: read
  pull-requests: write
  issues: write

env:
  CLUSTER_KEY: ${{secrets.CLUSTER_KEY}}

jobs:
  ci:
    uses: uptick/actions/.github/workflows/ci.yaml@main # ratchet:exclude
    secrets:
      SECRET_ENV: "${{ secrets.DEPLOY_KEY }}"
    with:
      python: true
      python-version: 3.11
      praise-on-fix: false
      command: |
        echo "$SECRET_ENV" > /tmp/deploy_key
        chmod 600 /tmp/deploy_key
        GIT_SSH_COMMAND="ssh -i /tmp/deploy_key -o StrictHostKeyChecking=accept-new" git clone git@github.com:uptick/splat-private.git
        rm /tmp/deploy_key
        curl https://mise.jdx.dev/install.sh | sh
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "$HOME/.local/share/mise/shims" >> $GITHUB_PATH
        mise settings set experimental true
        mise run ci
