name: Release Please
on:
  push:
    branches:
      - master

permissions:
  actions: read # Read the metrics
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for npm provenance / AWS

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      # Root level release_created
      release_created: ${{ steps.release.outputs.release_created }}
      # Root level tag_name
      tag_name: ${{ steps.release.outputs.tag_name }}
      sha: ${{ steps.release.outputs.sha }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # ratchet:googleapis/release-please-action@v4
        id: release
        with: {}

  publish_docker_image:
    name: Build and Push Docker Image
    uses: uptick/actions/.github/workflows/ci.yaml@main # ratchet:exclude
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    secrets:
      SECRET_ENV: "${{ secrets.DEPLOY_KEY }}"
    #https://github.com/uptick/actions/blob/main/.github/workflows/ci.yaml
    with:
      aws-iam-role-arn: "arn:aws:iam::610829907584:role/default-github-actions-ci-role"
      docker-enabled: true
      docker-context: "."
      docker-tag: "${{ needs.release-please.outputs.tag_name }}"
      docker-tag-latest: true
      docker-image-platforms: linux/amd64
      docker-repository: "610829907584.dkr.ecr.ap-southeast-2.amazonaws.com/splat"
      command: |
        echo "$SECRET_ENV" > /tmp/deploy_key
        chmod 600 /tmp/deploy_key
        GIT_SSH_COMMAND="ssh -i /tmp/deploy_key -o StrictHostKeyChecking=accept-new" git clone git@github.com:uptick/splat-private.git
        rm /tmp/deploy_key
